/*estilo general para la pantalla del chat con naaj-ia*/

.chat-screen {
  display: flex;
  flex-direction: column;
  height: 100dvh; /* Ocupa toda la pantalla */
  background-image: url('/fondo-naajIA.png');
  
  /*background: #E4007C;*/
  /*background: linear-gradient(180deg, rgba(228, 0, 124, 1) 0%, rgba(105, 58, 176, 1) 50%, rgba(42, 243, 243, 1) 100%);*/
  font-synthesis: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.messages-container {
  flex: 1;
  overflow-y: auto; /* Scroll vertical */
  padding-bottom: 20px; /* Espacio para Input + NavBar */
  padding: 15px;
  display: flex;
  flex-direction: column;   /* Para que los mensajes se apilen */
  overflow-x: hidden;
  gap: 15px;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.chat-footer {
  flex-shrink: 0; /* Evita que se aplasten */
  width: 100%;
  z-index: 100;
  background: transparent;
  position: relative;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

/* Ajuste del Input (Ya no necesita z-index alto si está dentro del footer) */
.input-container {
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(0,0,0,0.1);
}

.typing-indicator {
  margin-left: 20px;
  font-size: 0.8rem;
  color: #888;
  font-style: italic;
  margin-bottom: 10px;
}

.navbar{
  position: sticky;
}