/*estilos generales para el navbar*/

.navbar {
  width: 100%;
  height: 60px;
  background-color:#402544e4; /*402544*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0; /* Evita que se aplaste */
  padding-bottom: env(safe-area-inset-bottom); /* Para iPhone */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100; /* Asegura que esté encima de todo */
}

.nav-item {
  font-size: 1.5rem;
  opacity: 0.5; /* Los inactivos se ven apagados */
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-item img{
  width: 40px;
}

/* ESTADO ACTIVO (La pantalla actual) */
.nav-item.active {
  opacity: 1;
  color: #ff007f; /* Color rosa neón de Naaj */
  background-color: rgba(255, 255, 255, 0.1); /* Un fondo sutil */
  transform: translateY(-5px); /* Efecto de "saltito" hacia arriba */
}

.nav-item:active {
  transform: scale(0.9); /* Efecto de click al presionar */
}